json
chromedriver
__pycache__
flaskapp

# pleasemoney_env

# Created by https://www.gitignore.io/api/virtualenv
# Edit at https://www.gitignore.io/?templates=virtualenv

### VirtualEnv ###
pleasemoney_env
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pleasemoney_env/[Bb]in
[Ii]nclude
pleasemoney_env/[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

# End of https://www.gitignore.io/api/virtualenv

*.html
*.json
*.log

# このフォルダのhtmlは除外しない
!/templates/*
scraping/beautifulsoup_test.py
scraping/scraping.py
test.py
