/* id属性の場合，#body{}, class属性の場合，.body{}とcssを指定する */
#body {
    background: white;
}

/* 左側 */
#left-box {
    display:inline-block;
    width:40%;
    /* text-align:left; */
    /* float: left; */
}
.mizuho_bank_balance {
    background: #f5f5f5;
    width: 90%;
    /* background: #c0c0c0; */
}


.payment_info {
    background: #f5f5f5;
    width: 90%;
    /* background: #c0c0c0; */
}
/* 支払い情報TABLE */
table.payment_sum_table {
    border-collapse: collapse;
    border: 1;
    margin-left:10px;
}
table.payment_sum_table th {
    border: 1px solid #222;
    border-bottom: 3px double black;
}

table.payment_sum_table td {
    border: 1px solid #222;
    padding: 3px;
}

table.payment_sum_table td.sum_date {
    border-right: 0px;
    border-top: 3px double black;
}

table.payment_sum_table td.sum {
    border-left: 0px;
    border-top: 3px double black;
}
/* 支払い情報TABLE 終了 */

/* 左側 終了 */



/* 右側 */
#right-box {
    display:inline-block;
    width:60%;
    float: right;
    /* text-align:right; */
}

#views_details {
    background: #f5f5f5;
    width: 90%;
}

#rakuten_details {
    background: #f5f5f5;
    width: 90%;
}

#aoyama_details {
    background: #f5f5f5;
    width: 90%;
}

#epos_details {
    background: #f5f5f5;
    width: 90%;
}

#mizuhobank_details {
    background: #f5f5f5;
    width: 90%;
}

/* 右側 終了 */





