{% extends "base.html" %}

{% block content %}

<h1>Please Money</h1>
<hr>

<div id="box">
    <div id="left-box">
        <div class="mizuho_bank_balance">
            <h3>みずほ銀行残高</h3>
            <p> {{today}} 現在 &emsp; <b>{{bank_balance}} 円</b> </p>
        </div>
        
        <div class="payment_info">
            <h3>支払い情報</h3>
            <table class=payment_sum_table width="60%">
                <tr>
                    <th width=50%>支払日</th>
                    <th width=50% align="right">金額</th>
                </tr>
                {% for sum in sum_list %}
                <tr>
                    <td align="center">
                        {{ sum[0] }}
                    </td>
                    <td align="right">
                        <b>{{ sum[1] }}</b> 円
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="sum_date">
                        
                    </td>
                    <td class="sum" align="right">
                        <b>計 &emsp;&emsp;{{ all_sum }}</b> 円
                    </td>
                </tr>
            
            </table>
        </div>
    
    </div>
    
    <!-- 各カード会社の明細 -->
    <div align="left" id="right-box">
        <h3>クレカ・銀行の詳細情報</h3>
        
        <div id="views_details">
            <h4>Viewカード</h4>
            <table>
                
            </table>
        </div>
        
        <div id="rakuten_details">
            <h4>楽天カード</h4>
            <table>

            </table>
        </div>
        
        <div id="aoyama_details">
            <h4>青山カード</h4>
            <table>

            </table>
        </div>
        
        <div id="epos_details">
            <h4>エポスカード</h4>
            <table>

            </table>
        </div>
        
        <div id="mizuhobank_details">
            <h4>みずほ銀行 詳細情報</h4>
            <table>
                
            </table>
        </div>
    
    </div>
    
</div>



{% endblock %}