{% extends "base.html" %}

{% block content %}

<h1>Please Money</h1>
<hr>

<div id="box">
    <div id="left-box">
        <h3>残高・支払い情報まとめ</h3>
        <div class="mizuho_bank_balance">
            <h4>みずほ銀行残高</h4>
            <p> {{today}} 現在 &emsp; <b>{{bank_balance}} 円</b> </p>
        </div>
        
        <div class="payment_info">
            <h4>支払い情報</h4>
            <table class=payment_sum_table width="80%">
                <tr>
                    <th width=50%>支払日</th>
                    <th width=50% align="right">金額</th>
                </tr>
                {% for sum in sum_list %}
                <tr>
                    <td align="center">
                        {{ sum[0] }}
                    </td>
                    <td align="right">
                        <b>{{ sum[1] }}</b> 円
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="sum_date">
                        
                    </td>
                    <td class="sum" align="right">
                        <b>計 &emsp;&emsp;{{ all_sum }}</b> 円
                    </td>
                </tr>
            
            </table>
        </div>
    
    </div>
    
    <!-- 各カード会社の明細 -->
    <div align="left" id="right-box">
        <h3>クレカ・銀行の詳細情報</h3>
        
        <div id="views_details">
            <h4>Viewカード</h4>
            <table class=view_table border=1 width="95%">
                <tr>
                    <th>利用日</th>
                    <th>利用用途</th>
                    <th>金額</th>
                    <th>支払方法</th>
                </tr>
                {% for eachdata in view_list %}
                <tr>
                    <td align="center" width="15%">
                        {{ eachdata[0] }}
                    </td>
                    <td align="center" width="50%">
                        {{ eachdata[3] }}
                    </td>
                    <td align="center" width="25%">
                        <b>{{ eachdata[2] }}</b> 円
                    </td>
                    <td align="center" width="10%">
                        {{ eachdata[4] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div id="rakuten_details">
            <h4>楽天カード</h4>
            <table class=rakuten_table border=1 width="95%">
                <tr>
                    <th>利用日</th>
                    <th>利用用途</th>
                    <th>金額</th>
                    <th>支払方法</th>
                </tr>
                {% for eachdata in rakuten_list %}
                <tr>
                    <td align="center" width="15%">
                        {{ eachdata[0] }}
                    </td>
                    <td align="center" width="50%">
                        {{ eachdata[3] }}
                    </td>
                    <td align="center" width="25%">
                        <b>{{ eachdata[2] }}</b> 円
                    </td>
                    <td align="center" width="10%">
                        {{ eachdata[4] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div id="aoyama_details">
            <h4>青山カード</h4>
            <table class=aoyama_table border=1 width="95%">
                <tr>
                    <th>利用日</th>
                    <th>利用用途</th>
                    <th>金額</th>
                    <th>支払方法</th>
                </tr>
                {% for eachdata in aoyama_list %}
                <tr>
                    <td align="center" width="15%">
                        {{ eachdata[0] }}
                    </td>
                    <td align="center" width="50%">
                        {{ eachdata[3] }}
                    </td>
                    <td align="center" width="25%">
                        <b>{{ eachdata[2] }}</b> 円
                    </td>
                    <td align="center" width="10%">
                        {{ eachdata[4] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div id="epos_details">
            <h4>エポスカード</h4>
            <table class=epos_table border=1 width="95%">
                <tr>
                    <th>利用日</th>
                    <th>利用用途</th>
                    <th>金額</th>
                    <th>支払方法</th>
                </tr>
                {% for eachdata in epos_list %}
                <tr>
                    <td align="center" width="15%">
                        {{ eachdata[0] }}
                    </td>
                    <td align="center" width="50%">
                        {{ eachdata[3] }}
                    </td>
                    <td align="center" width="25%">
                        <b>{{ eachdata[2] }}</b> 円
                    </td>
                    <td align="center" width="10%">
                        {{ eachdata[4] }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div id="mizuhobank_details">
            <h4>みずほ銀行 詳細情報</h4>
            <table class=mizuhobank_table border=1 width="95%">
                <tr>
                    <th>日付</th>
                    <th>用途</th>
                    <th>金額</th>
                </tr>
                {% for eachdata in bank_list %}
                <tr>
                    <td align="center" width="15%">
                        {{ eachdata[1] }}
                    </td>
                    <td align="center" width="60%">
                        {{ eachdata[3] }}
                    </td>
                    <td align="center" width="25%">
                        <b>{{ eachdata[2] }}</b> 円
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
    </div>
    
</div>

{% endblock %}